body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.sidebar {
  height: 100%;
  width: 320px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #fff;
  top: 0;
  left: 0;
  position: fixed;
  visibility: hidden;
}
.sidebar-content {
  width: 320px;
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  display: block;
}
.sidebar-logo {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  position: relative;
  padding: 5px 16px;
  text-align: left;
  align-items:center;
  justify-content: flex-start;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.img-logo {
  margin: auto;
  display: block;
}
.large {
  height: 50px;
}
.small {
  height: 40px;
}
.sidebar-profile {
  width: 100%;
  background-color: #fafafa;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  box-sizing: border-box;
  padding: 24px 16px;
  display: flex;
  position: relative;
  font-weight: 400;
}
.profile-info {
  padding: 0 16px;
}
.profile-name {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  margin: 0;
  display: block;
}
.profile-mail {
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.875rem;
  font-weight: 100;
  line-height: 1.46429em;
  margin: 0;
  display: block;
}
.main {
  margin-top: 60px;
  margin-left: 0px;
  padding: 15px;
  min-height: 100%;
}
.header {
  background-color: #ffe521;
  color: #000000;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  position: fixed;
}
.header-content {
  padding: 0px 15px;
}
.sidebar-button {
  margin: 10px 0px;
  background-color: #fff;
  padding: 0;
  border: none;
  outline: none;
  position: fixed;
  display: inline-block;
}
.header-title {
  margin-left: 65px;
  font-size: 20px;
  position: fixed;
  display: inline-block;
}
.form-section {
  display: flex;
  flex-flow: row wrap;
}
.button {
  flex: 1 100%;
  background-color: #e6e6e6;
  color: #000000;
  border: none;
  outline: none;
  padding: 6px 15px;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
.bottom-border {
  border-bottom: solid 1px #ffffff;
}
.button:hover {
  background-color:#808080;
  color: #fff;
}
.button:active, .button:focus {
  background-color: #ff009e;
  color: #fff;
}
.select {
  height: 40px;
  padding: 2px 6px;
  text-align: center;
  font-size: 12px;
  width: 100%;
  white-space: normal;
  border: solid 1px #e6e6e6;
  outline: none;
}
.hidden {
  visibility: hidden;
}
@media (min-width: 700px) {
  .main {
    padding: 36px;
  }
}
@media (min-width: 960px) {
  .main, .header {
    margin-left: 320px;
  }
  .sidebar {
    visibility: visible;
  }
  .sidebar-button {
    visibility: hidden;
  }
  .header-title {
    margin-left: 0px;
  }
}