.sidebar {
  height: 100%;
  width: 320px;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  background-color: #fff;
  top: 0;
  left: 0;
  position: fixed;
}
.sidebar-content {
  width: 320px;
  margin: 0;
  padding: 0;
  position: relative;
  list-style:none;
  display: block;
}
.sidebar-logo {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  position: relative;
  padding: 5px 16px;
  text-align: left;
  align-items:center;
  justify-content: flex-start;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.image-logo {
  height: 50px;
  margin: auto;
  display: block;
}
.sidebar-profile {
  width: 100%;
  background-color: #fafafa;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  box-sizing: border-box;
  padding: 24px 16px;
  display: flex;
  position: relative;
}
.profile-info {
  padding: 0 16px;
}
.profile-name {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5em;
  margin: 0;
  display: block;
}
.profile.mail {
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.875rem;
  font-weight: 100;
  line-height: 1.46429em;
  margin: 0;
  display: block;
}
.main {
  width: 100%;
  margin-left: 320px;
  margin-top: 60px;
}